/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.webapp {
    background: #1e2d3b;
    height: 100vh;
    width: 100vw;
}



/* Header */
.webapp .header {
    height: 8%;
    padding: 10px 20px;
    background-color: #2e3a46;
}

.webapp .header img {
    height: 100%;
}



/* main */
.webapp .main {
    width: 60%;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.webapp .main .card {
    width: calc(20% - 40px);
    background-color: #2e3a46;
    margin: 0 20px 30px;
    padding: 20px 20px 5px 20px;
    text-align: center;
    transition: all .1s ease;
    cursor: pointer;
}

.webapp .main .card img {
    width: 100%;
    margin-bottom: 15px;
}

.webapp .main .card .title {
    margin-bottom: 15px;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

.webapp .main .card .author {
    display: block;
    color: #777d7a;
    font-size: .9rem;
}

.webapp .main .card .year {
    color: #808080;
}

.card:hover {
    transform: scale(1.05);
}